* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(255, 218, 149), rgb(255, 188, 62));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.calculator {

}